body{
    font-family: "Gilroy";
    margin: 0;
}
button {
    padding: 0;
    border: 0;
}
ul{ 
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    width: 1600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
.header .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header-top {
    background: #20242D;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .address {
    font-size: 12px;
    font-style: normal;
    font-weight: 400px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.header .contacts {
    display: flex;
    justify-content: space-between;
}
.header .contacts .li {
    margin-right: 56px;
}
.header .contacts .li:last-child {
    margin-right: 0;
}
.header .contacts a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}
.header .header-bottom {
    background: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 11px;
}
.header .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .navigation a{
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;
    text-decoration: none;
}
.header .navigation ul {
    display: flex;
    align-items: center;
}
.header .navigation li {
    margin-right: 56px;
}
.header .navigation li:last-child{
    margin-right: 0px;
}
.header .navigation .active{
    color: #FF7129;
}
.start-screen {
    /*Для тестировки*/
    background: #777; 
    background-image: url(../img/main-bg.jpg);
    padding-top: 270px;
    padding-bottom: 138px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.start-screen .main-title {
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 16px;
}
.start-screen .slogan {
    
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
max-width: 508px;
margin-left: auto;
margin-right: auto;
margin-bottom: 59px;
}
.start-screen .btn {
    background: #FF7129;
    box-shadow: 0px 4px 28px 0px #FF71294A;
    
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
display: block;
width: 188px;
padding: 16px 45px;
margin-left: auto;
margin-right: auto;
margin-bottom: 106px;
}
.start-screen .btn-scrool {
    background: rgba(123, 126, 133, 0.4);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}