@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-regular.ttf);
  font-weight: 400;
}

body {
  font-family: "Gilroy";
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background: #ff7129;
  box-shadow: 0px 4px 28px 0px #ff71294a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 188px;
  padding: 16px 45px;
  transition: all ease 1s;
}

.btn:hover {
 opacity: 0.8;
}

.btn-dark {
  background-color: #20242d;
  border: 1px solid #ff7129;
  box-sizing: border-box;
  box-shadow: 0px 4px 28px 0px #ff7129ab;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header .wrapper-top {
  background: #20242d;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .wrapper-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .address {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.header .contacts {
  display: flex;
  justify-content: space-between;
}

.header .contacts li {
  position: relative;
  margin-right: 56px;
  padding-left: 22px;
}

.header .contacts li:last-child {
  margin-right: 0;
}

.header .contacts svg {
  position: absolute;
  top: 4px;
  left: 0;
}

.header .contacts a {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.header .wrapper-bottom {
  background: #ffffff;
  padding-top: 12px;
  padding-bottom: 11px;
}

.header .wrapper-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation ul {
  display: flex;
  align-items: center;
}

.header .navigation li {
  margin-right: 56px;
}

.header .navigation li:last-child {
  margin-right: 0;
}

.header .navigation a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
  text-decoration: none;
}

.header .navigation .active {
  color: #ff7129;
  position: relative;
}

.header .navigation .active::before {
  position: absolute;
  top: 9px;
  left: -22px;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #ff7129;
}

.header .navigation .active::after {
  position: absolute;
  top: 9px;
  right: -22px;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #ff7129;
}

.start-screen {
  background: #777;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.start-screen .container {
  position: relative;
  padding-top: 270px;
  padding-bottom: 138px;
}

.start-screen .main-title {
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.start-screen .slogan {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  max-width: 508px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}

.start-screen .btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 106px;
}

.start-screen .btn-scroll {
  background: rgba(123, 126, 133, 0.4);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.start-screen .decor-word {
  position: absolute;
  left: 50px;
  top: 163px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
}

.start-screen .decor-word-2 {
  position: absolute;
  right: 50px;
  bottom: 282px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
}

.main-info {
  background: #ffffff;
  padding-top: 132px;
  padding-bottom: 115px;
  background-image: url("../img/main-info-bg.png");
  background-position: 152px 0;
  background-size: 1400px 1055px;
  background-repeat: no-repeat;
}

.main-info .container {
  padding-top: 132px;
  padding-bottom: 115px;
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}

.main-info .title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}

.main-info img {
  margin-right: 65px;
}

.main-info .content {
  position: relative;
  width: 535px;
  padding-top: 69px;
}

.main-info .decor-word {
  position: absolute;
  top: 0px;
  left: -28px;
  -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
}

.main-info .title {
  position: relative;
  margin-top: 0;
  margin-bottom: 64px;
  padding-left: 16px;
}

.main-info .title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 1px;
  height: 52px;
  background-color: #ff7129;
}

.main-info .content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}

.footer {
  background: #20242d;
}

.footer .navigation a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.footer .wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 52px;
}

.footer .navigation .active {
  color: #ff7129;
}

.footer .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .navigation li {
  margin-right: 56px;
}

.footer .navigation li:last-child {
  margin-right: 0px;
}

.footer .navigation .active {
  color: #ff7129;
}

.footer .wrapper-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(123, 126, 133, 0.3);
}

.footer .wrapper-bottom .privace {
  color: #7b7e85;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

.footer .wrapper-bottom .secur-data {
  color: #7b7e85;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 72px;
  padding-right: 58px;
  padding-bottom: 51px;
  padding-left: 58px;
}

@keyframes fadeIn {
  0% {
    transform: translate(-50%, -2000px);
  }
  50% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}


.pop-up-show {
  display: block;
  animation-name: fadeIn;
  animation-duration: 3s;
}  

.pop-up .pop-up-close {
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: transparent;
}

.pop-up .pop-up-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  margin-bottom: 16px;
}

.pop-up .pop-up-dscr {
  margin-bottom: 56px;
}

.pop-up form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.pop-up form label {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #7b7e85;
  margin-bottom: 24px;
}

.pop-up form input {
  display: block;
  border: 1px solid #e0e0e0;
  padding: 16px 24px;
  margin-top: 12px;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
  min-width: 327px;
  box-sizing: border-box;
}

.pop-up form input::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #7b7e85;
}

.pop-up form .pop-up-btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 28px;
}