@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroy-regular.ttf);
  font-weight: 400;
}
/*index*/
body {
  font-family: "Gilroy";
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background: #ff7129;
  box-shadow: 0px 4px 28px 0px #ff71294a;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 188px;
  padding: 16px 45px;
}

.btn-dark {
  background-color: #20242d;
  border: 1px solid #ff7129;
  box-sizing: border-box;
  box-shadow: 0px 4px 28px 0px #ff7129ab;
}

.container {
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header .wrapper-top {
  background: #20242d;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .wrapper-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .address {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.header .contacts {
  display: flex;
  justify-content: space-between;
}

.header .contacts li {
  position: relative;
  margin-right: 56px;
  padding-left: 22px;
}
.header .contacts svg {
  position: absolute;
  top: 4px;
  left: 0px;
}

.header .contacts li:last-child {
  margin-right: 0;
}

.header .contacts a {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.header .wrapper-bottom {
  background: #ffffff;
  padding-top: 12px;
  padding-bottom: 11px;
}

.header .wrapper-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation ul {
  display: flex;
  align-items: center;
}

.header .navigation li {
  margin-right: 56px;
}

.header .navigation li:last-child {
  margin-right: 0;
}

.header .navigation a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
  text-decoration: none;
}

.header .navigation .active {
  position: relative;
  color: #ff7129;
}
.header .navigation .active::before {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #ff7129;
  top: 9px;
  left: -15px;
}
.header .navigation .active::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 1px;
  background-color: #ff7129;
  top: 9px;
  right: -15px;
}

.start-screen {
  background: #777;
  background-image: url("../img/main-bg.jpg");
  padding-top: 270px;
  padding-bottom: 138px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.start-screen .container {
  position: relative;
  padding-top: 270px;
  padding-bottom: 138px;
}

.start-screen .main-title {
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.start-screen .slogan {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  max-width: 508px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 59px;
}

.start-screen .btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 106px;
}

.start-screen .btn-scroll {
  background: rgba(123, 126, 133, 0.4);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.start-screen .decor-word {
  position: absolute;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
  top: 163px;
  left: 50px;
}
.start-screen .decor-word-2 {
  position: absolute;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
  right: 50px;
  bottom: 282px;
}

.main-info {
  background: #ffffff;
  padding-top: 132px;
  padding-bottom: 115px;
  background-image: url("../img/main-info-bg.png");
  background-position: 0 0;
  background-size: 1400px 1055px;
  background-repeat: no-repeat;
}

.main-info .container {
  position: relative;
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}
.main-info .container .decor-word {
  position: absolute;
  -webkit-text-stroke: 1px rgba(32, 36, 45, 0.1);
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: 145px;
  letter-spacing: 0em;
  text-align: left;
  color: transparent;
  text-transform: uppercase;
}

.main-info .title {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}

.main-info img {
  margin-right: 65px;
}

.main-info .content {
  width: 535px;
  padding-top: 69px;
}

.main-info .title {
  margin-top: 0;
  margin-bottom: 64px;
}

.main-info .content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}

.footer {
  background: #20242d;
}

.footer .navigation a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.footer .wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
  padding-bottom: 52px;
}

.footer .navigation .active {
  color: #ff7129;
}

.footer .navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .navigation li {
  margin-right: 56px;
}

.footer .navigation li:last-child {
  margin-right: 0px;
}

.footer .wrapper-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgba(123, 126, 133, 0.3);
}

.footer .wrapper-bottom .privace {
  color: #7b7e85;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

.footer .wrapper-bottom .secur-data {
  color: #7b7e85;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
}

/*about*/
.about-screen {
  background: #777;
  background-image: url("../img/main-o-nas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: auto;
  height: 350px;
}
.about-screen .about-title {
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 0px;
}

.about-screen .about-title {
  padding-top: 200px;
  padding-bottom: 103px;
  padding-left: 40px;
}
.about-info .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about-info .about-text-1 {
  height: 84px;
  width: 500px;
  padding-top: 80px;
  padding-right: 66px;
  padding-bottom: 100;
  padding-left: 40px;
}
.about-info .about-text-2 {
  height: 72px;
  width: 500px;
  padding-top: 80px;
  padding-left: 66px;
}
.about-info .about-text-3 {
  height: 84px;
  width: 500px;
  padding-bottom: 184px;
  padding-left: 40px;
}
/*project*/
.main-project .projekty-title {
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}
.main-project .projekty-title {
  padding-top: 125px;
  padding-bottom: 37px;
  padding-left: 174px;
}
.main-project .container {
  display: flex;
  justify-content: center;
}
.main-project .btn {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .pop-up {
  display: none;
} */
